@model leave_manager.Models.LeaveTypeVM
@using leave_manager.App_Code;

@{
    if (Global.SiteLayout == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = Global.SiteLayout;
    }
    ViewData["Title"] = "Details";
}

<h1>Leave Type</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit this Type</a> <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    @*<a asp-action="Index">Back to List</a>*@
</div>
