@model IEnumerable<leave_manager.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Leave Types";
}

<h1>Leave Types</h1>
<hr />
<p>
    <a class="btn btn-outline-success" asp-action="Create"> <i class="fa fa-plus-circle" aria-hidden="true"></i> New Type</a>
</p>
<hr />
<table id="tblData" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td class="text-muted">
                    @Html.DisplayFor(modelItem => item.DefaultDays)
                </td>
                <td class="text-muted">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit</a>&nbsp;&nbsp;
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete the leave type, @item.Name?')"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{ 
<script>

</script>
}