@using leave_manager.App_Code;
@model leave_manager.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
    if (Global.SiteLayout == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = Global.SiteLayout;
    }
}

<h1>Leave Allocation Details for @Model.Employee.FirstName</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
            @*@Html.DisplayNameFor(model => model.Employee.FirstName)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)&nbsp;@Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TFN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TFN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @{
                var birthDate = (Model.Employee.DateOfBirth.ToLocalTime()).ToString("dd MMMM yyyy");
                var birthDateShort = (Model.Employee.DateOfBirth.ToLocalTime()).ToString("dd/MM/yyyy");
            }
            @birthDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @{
                var joinedDate = (Model.Employee.DateJoined.ToLocalTime()).ToString("dd MMMM yyyy");
            }
            @joinedDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SubscriptionCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SubscriptionCompleted)
        </dd>
    </dl>
</div>
<hr />
<h2>Leave Allocations</h2>
<div class="card" style="width: 24rem;">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="p-2">
                        <h6>
                            @item.LeaveType.Name <span class="badge-info badge-pill">@item.NumberOfDays</span>
                        </h6>
                    </div>
                    <div class="ml-auto p-2">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<hr />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a class="btn btn-outline-secondary" asp-action="ListEmployees">Back to List</a>
</div>